@page "/alert"
<style>
    .image-button {
        background-color: rgba(255, 255, 255, 0);
        background-image: url('Alarm.png'); /* Replace with your image path */
        background-size: cover; /* Scale the image to cover the button */
        background-repeat: no-repeat; /* Prevent repeating */
        border: none; /* No border */
        width: 150px; /* Set the width of the button */
        height: 150px; /* Set the height of the button */
        cursor: pointer; /* Pointer cursor on hover */
        outline: none; /* Remove the outline when clicked */
        padding: 0; /* Remove padding */
        display: inline-block; /* Allows setting dimensions */
    }
</style>
<h3>Alert: @alertStatus</h3>

<div style="display: flex; justify-content: center; align-items: center; height: 50vh; position: relative;">
    @if (buttonClicked)
    {
        <img src="pulsing-8587.gif" alt="Description of GIF" style="width: 400px; height: auto;" />
    }
    <button class="image-button" @onclick="OnButtonClick" style="position: absolute; top: 50.9%; left: 50.2%; transform: translate(-50%, -50%);"></button>
</div>
@code {
    public string alertStatus = "Deactivated";
    public bool buttonClicked = false;
    public void OnButtonClick()
    {
        buttonClicked = true;
        alertStatus = "Active";
    }
}