@page "/How_to_use"
@inject NavigationManager _NavigationManager

<h3>HowToUse</h3>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Making freinds</div>
        <div class="card-body">
            <h4 class="card-title">How to make freinds</h4>
            <p class="card-text">The main purpose of this app is to make trans freinds.</p>
            <p class="card-text">On the Freind Finder tab you will see a list of people near you.</p>
            <p class="card-text">We do not host chatting on this platform but you will see pictures with there: Snapchat, Instergram, Discord or Whatsapp.</p>
            <p class="card-text">From there you can add them and start talking :)</p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Alert System</div>
        <div class="card-body">
            <h4 class="card-title">What is the alart system</h4>
            <p class="card-text">On the Alert tab you will see a red button once pushed will send a message to to your freinds that you have setup to be alerted.</p>
            <p class="card-text">What is this used for? Unfortuanly when out and about we come across some not very nice people and this is a quick way to call out for help.</p>
            <p class="card-text">Why should i use this? using this does two things instantly sends a message to your freinds with your current location. The platform will also log the time and place and this data will be added to the heat map.</p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Heat map</div>
        <div class="card-body">
            <h4 class="card-title">What is the heat map</h4>
            <p class="card-text">On the heat map tab it will show you the places in your area that are hot spots where hate crimes have happened.</p>
            <p class="card-text">Why is this usefull? Some people are very anxious about heading outside because of these hate crimes and they can use this map to know where to avoid and at what times.</p>
            <p class="card-text">What is my plan for the heat map. If together we can collect enough information i plan to use this data to help police patrol the areas that need it the most making outside safer.</p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-secondary" @onclick="CreateProfile">Create Profile</button>
</div>
@code {
    public void CreateProfile()
    {
        _NavigationManager.NavigateTo("/AccountSettings");
    }
}
