@inject NavigationManager _NavigationManager
@inject HttpClient _Http
@inject jwtHelper _jwtHelper
@inject IJSRuntime _JS
@page "/TermsAndConditions"
@using PrideLink.Client.Helpers;
@using PrideLink.Shared.Location
@using PrideLink.Shared.LoginDetails;
@using PrideLink.Shared.UserInfo
@using PrideLink.Shared.UserOptIn;
@using System.Net.Http.Headers;
@using System.Text.Json

@if (isLoading)
{
    <LoadingView Percentage="loadingPercentage" LoadingText="Loading, please wait..." />
}
else
{
    @if (TAndCCount == 0)
    {
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Location Data</div>
                <div class="card-body">
                    <h4 class="card-title">Rules and conditions</h4>
                    <p class="card-text">We use your location data to find you new friends that are in your area.</p>
                    <p class="card-text">If you dont wish to share your location you can select your closest Town/City</p>
                    @if (!optIntoLocationData)
                    {
                        @if (errorMessage != null)
                        {
                            <label class="form-check-label text-danger" for="townAndCitySelector">@errorMessage</label>
                        }
                        <select class="form-select" id="townAndCitySelector" @bind="selectedTownAndCity">
                            @foreach (var item in townCityLocations)
                            {
                                <option value="@item.cityNo">@item.cityName</option>
                            }
                        </select>
                        
                    }
                    <div class="mt-3 d-flex justify-content-center">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Opt in/out</label>
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @bind="optIntoLocationData">
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-secondary" @onclick="LocationDataCollection">Next</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else if(TAndCCount == 1)
    {
        <h3>Terms And Conditions</h3>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Data protection</div>
                <div class="card-body">
                    <h4 class="card-title">Rules and conditions</h4>
                    <p class="card-text">We use a vetting system to make sure you are who you say you are.</p>
                    <p class="card-text">This means you won’t be able to contact anyone until another user has vetted you.</p>
                    <p class="card-text">If you don’t know anyone on this platform, please contact me on Discord at:</p>
                    <p class="card-text">maddibailey (Discord tag TBC)</p>
                    <div class="mt-3 d-flex justify-content-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @bind="acceptRules">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Opt in/out</label>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-secondary" @onclick="NextPage">Next</button>
                    </div>
                </div>
            </div>
        </div>
    }

}


@code {
    private bool acceptRules = false;
    private int TAndCCount = 0;

    private bool isLoading = false;
    private double loadingPercentage = 0;

    private bool optIntoLocationData = true;
    private int? selectedTownAndCity = null;
    private bool errorGettingLocation = false;
    private bool noSelectedTownAndCity = false;
    private string? errorMessage;
    List<TownCityLocations> townCityLocations = new List<TownCityLocations>();
    UserLocationData userLocationData = new UserLocationData();

    protected override async Task OnInitializedAsync()
    {
        GetTownsAndCitys();
    }

    private async void LocationDataCollection()
    {
        errorMessage = null;
        if (optIntoLocationData)
        {
            try
            {
                var location = await _JS.InvokeAsync<Dictionary<string, double>>("getLocation");
                Console.WriteLine("Got location");
                userLocationData.Latitude = (float)location["latitude"];
                userLocationData.Longitude = (float)location["longitude"];

                var townAndCityResponse = await _Http.PostAsJsonAsync<UserLocationData>("api/UserLocation/AddUpdateUserLocation", userLocationData);
                if (townAndCityResponse.IsSuccessStatusCode)
                {
                    TAndCCount += 1;
                    StateHasChanged();
                }
            }
            catch (Exception ex)
            {
                TAndCCount = 0;
                optIntoLocationData = false;
                errorMessage = "Unable to get user location please select your nearest town or city";
                StateHasChanged();
                Console.WriteLine($"Error retrieving location: {ex.Message}");
            }
        }
        else
        {
            if (selectedTownAndCity != null)
            {
                string URL = "?cityNo=" + selectedTownAndCity;
                var townAndCityResponse = await _Http.GetAsync("api/UserLocation/AddTownAndCityToUser" + URL);

                TAndCCount += 1;
                StateHasChanged();
            }
            else
            {
                noSelectedTownAndCity = true;
                StateHasChanged();
            }
            
        }
        UserOptIn userOptIns = new UserOptIn();
        userOptIns.optInType = 1;
        userOptIns.isOptedIn = optIntoLocationData;
        var response = await _Http.PostAsJsonAsync<UserOptIn>("api/UserOptIns/UserOptIn", userOptIns);
    }

    private async void GetTownsAndCitys()
    {
        var townAndCityResponse = await _Http.GetAsync("api/UserLocation/GetCityAndTowns");
        if (townAndCityResponse.IsSuccessStatusCode)
        {
            townCityLocations = JsonSerializer.Deserialize<List<TownCityLocations>>(await townAndCityResponse.Content.ReadAsStringAsync());
            Console.WriteLine("collected towns and citys");
            StateHasChanged();
        }

    }

    private async void NextPage()
    {
        errorMessage = null;
        UserOptIn userOptIns = new UserOptIn();

        userOptIns.optInType = 2;
        userOptIns.isOptedIn = acceptRules;
        var response = await _Http.PostAsJsonAsync<UserOptIn>("api/UserOptIns/UserOptIn", userOptIns);

        _NavigationManager.NavigateTo("/How_to_use");
    }

}
